{% extends 'base.html' %}
{% block title %}
    About Us
{% endblock title %}
{% block body %}
<div class="container-fluid">
    <img src="https://source.unsplash.com/1600x900/?phone,contact" class="img-fluid" alt="...">
</div>
<div class="container">
    <h1 class="text-center"> About Us 😀🙋‍♂️🙋‍♂️ </h1>
    <p style="font-size: x-large;">
        My name is yadunandan singh jasrotia & i am a full stack web developer & I also desinged this website
        and I used Python Django at the back end of this website, & I can develop websites for you, &
        I know multiple Languages like HTML, CSS, Javascript, Python & C. <a href="contact"> Contact ME </a> <br> 
        Thanks!🖐🖐
    </p>
</div>
{% endblock body %}